@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('http://fonts.cdnfonts.com/css/cocogoose');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

:root {
  --primary-white: #fff;
  --secondary-white: #ebebff;
  --primary-orange: #ec5242;
  --dark: #272a32;;
  --secondary-gray: #d3d3d3;
  --primary-gray: #444140;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
  box-sizing: border-box;
  background-color: var(--primary-white);
  color: var(--dark);
  overflow-x: hidden;
}

p, h1, h2, h3, h4, h5, h6, ul {
  padding: 0;
  margin: 0;
}

p {
  font-size: .875rem;
}

a {
  text-decoration: none;
  color: var(--dark)
}

.container {
  padding: 0px 1rem;
}

.no-scroll {
  overflow-y: hidden;
}

header {
  background-color: var(--primary-white);
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0px 8rem;
  }
}

.nav-container {
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container .watch-live {
  border: 3px solid var(--primary-orange);
  padding: .4rem;
}

@media screen and (min-width: 768px) {
  .nav-container {
    height: 5rem; 
  }

  header {
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  }

}

@media screen and (max-width: 576px) {
  .nav-container .logo {
    order: 999;
  }

  .nav-container {
    width: 72%;
  }
}

.nav-container .logo img{
  width: 10rem;
  height: 6rem;
}

.nav-container ul {
  list-style: none;
  display: flex;
  gap: 3rem;
  display: none;
}

.nav-container ul a {
  text-decoration: none;
  color: var(--dark);
}

.hamburger-menu {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }

  .nav-container ul {
    display: flex;
  }
}

.bar-top,
.bar-middle,
.bar-bottom {
  height: 4px;
  background: var(--primary-gray);
  margin: 3px 0;
  transform-origin: left;
  transition: all 0.5s;
}

.menu-close .bar-top {
  transform: rotate(45deg);
}

.menu-close .bar-middle {
  transform: translateX(1rem);
  opacity: 0;
}

.menu-close .bar-bottom {
  transform: rotate(-45deg);
}

.display-none {
  display: none;
}

  .side-navigation {
    position: fixed;
    inset: 0 0 0 30%;
    height: 100vh;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 400ms ease-out;
  }

.side-navigation .container {
  position: relative;
  padding-top: 50%;
  height: 100%;
}

.side-navigation .background {
  position: absolute;
  inset: 0;
  background: hsl(16 87% 62% / 0.7);
  backdrop-filter: blur(.4rem);
  z-index: -1;
}

.side-navigation ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 1.4rem;
  line-height: 1.8rem;
}

.side-navigation ul a {
  font-size: 1.5rem;
  color: var(--primary-white);
  font-family: 'COCOGOOSE', sans-serif;
}

.side-navigation[data-visible="true"] {
  transform: translateX(0%);
}


.hero-wrapper {
  padding-top: 20%;
  padding-bottom: 5rem;
}

@media screen and (min-width: 768px) {
  .hero-wrapper {
    padding-top: 7rem;
  }
}

.greeting {
  color: var(--primary-orange);
  font-size: 1.3rem;
  margin-bottom: .2rem;
}

.intro {
  text-transform: uppercase;
  color: var(--primary-orange);
  font-family: 'COCOGOOSE', sans-serif;
  line-height: 2rem;
  font-size: 1.8rem;
}

.hero-wrapper {
  background-image: url(assets/img/hero-bg.png);
  background-size: cover;
}

.hero-wrapper .intro {
  display: inline;
  background-image: url(assets/img/text-bg.JPG);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: rgb(240, 75, 46, .7);
}

@media screen and (max-width: 576px) {
  .intro br {
    display: none;
  }
}

.hero-wrapper .intro-description{
  margin: 1rem 0px;
  padding: 1rem;
  border: solid .2rem var(--primary-white);
  line-height: 1.3rem;
}

.hero-wrapper .date {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  opacity: .6;
  margin-bottom: .5rem;
}

@media screen and (min-width: 768px) {
  .hero-wrapper .greeting {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .hero-wrapper .intro {
    font-size: 4rem;
    line-height: 4.5rem;
  }

  .hero-wrapper .intro-description {
    width: 70%;
    font-size: 1.125rem;
    line-height: 2rem;
  }

  .hero-wrapper .date {
    font-size: 2.25rem;
  }

  .hero-wrapper .location {
    margin-top: .6rem;
    font-size: 1.25rem;
  }
}

.program-wrapper {
  padding: 2rem 0;
  text-align: center;
  background-image: url(assets/img/checked-pattern.png);
  background-repeat: repeat;
  background-color: rgb(39, 42, 50);
}

@media screen and (min-width: 768px) {
  .program-wrapper {
    padding: 0;
    display: flex;
    align-items: center;
  }
}

.program-container .title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: var(--secondary-white);
}

.program-detail {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 1rem;
  background: rgba(255, 255, 255, 0.1);
  margin-top: .8rem;
}

.program-detail .icon {
  display: flex;
  align-items: center;
  color: var(--primary-orange);
  font-size: .875rem;
  gap: .5rem;
}

.program-detail p {
  grid-column-start: 3;
  grid-column-end: 7;
  font-size: .75rem;
  text-align: left;
  color: var(--secondary-white);
}

@media screen and (min-width: 768px) {
  .program-wrapper {
    height: 85vh;
  }

  .program-content {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    column-gap: .2rem;
  }

  .program-detail {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.5rem;
  }

  .program-detail .icon {
    flex-direction: column;
  }

  .program-detail .icon h5 {
    margin: 1rem 0;
    font-size: 1.5rem;
  }

  .program-detail img {
    width: 3rem;
    height: 3rem;
  }

  .program-detail p {
    font-size: 0.8125rem;
    text-align: center;
  }
}

.call-to-action {
  margin-top: 2rem;
  border: none;
  background-color: var(--primary-orange);
  padding: 1.4rem;
  color: var(--secondary-white);
  font-size: 1rem;
  font-weight: 700;
}

.call-to-action-lg-screen {
  display: none;
}

@media screen and (min-width: 768px) {
  .call-to-action {
    display: none;
  }

  .call-to-action-lg-screen {
    display: inline;
    color: var(--secondary-white);
    text-decoration: none;
    text-transform: uppercase;
    font-size: .875rem;
    border-bottom: var(--secondary-white) solid 1px;
  }
}

.featured-games {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 576px) {
  .featured-games {
    padding: 2rem 6rem;
  }
}

@media screen and (min-width: 900px) {
  .featured-games {
    padding: 2rem 1rem;
  }
}

.featured-games .title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.game-details-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  column-gap: .5rem;
  margin-top: 2.5rem;
}

.game-snapshot {
  position: relative;
  background-image: url(assets/img/checked.png);
  background-repeat: no-repeat;
  background-size: 50% 50%;
  grid-column-start: 1;
  grid-column-end: 3;
}

.game-snapshot img {
  width: 88%;
  height: 90%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.game-details {
  grid-column-start: 3;
  grid-column-end: 6;
}

.game-details h4 {
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.game-details p {
  color: var(--primary-orange);
  font-size: .8125rem;
  margin: .2rem 0;
}

.game-details .line {
  width: 1.3rem;
  height: .1rem;
  background-color: var(--primary-gray);
  opacity: .2;
}

.game-details h5 {
  margin-top: 1.4rem;
  font-size: .9rem;
  padding-bottom: .5rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.featured-games button {
  padding: .7rem 0;
  width: 100%;
  margin-top: 2.5rem;
  background-color: var(--primary-white);
  border: 1px solid;
  border-color: rgb(192, 192, 192, .4);
  cursor: pointer;
}

.featured-games button svg {
  margin-left: .4rem;
}

@media screen and (min-width: 900px) {
  .game-details-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 2rem;
  }

  .game-details p {
    margin: .5rem 0;
    line-height: 1.5rem;
  }

  .game-details h4 {
    font-size: 1.375rem;
  }

  .game-details h5 {
    margin-top: 1.5rem;
    padding-bottom: .5rem;
  }

  .featured-games button {
    display: none;
  }

}

@media screen and (min-width: 1200px) {
  .game-details-wrapper {
    max-width: 65rem;
  }
}

.partner-wrapper {
  background-color: rgb(39, 42, 50, .85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
}

@media screen and (min-width: 768px) {
  .partner-wrapper {
    padding: 5rem 0;
  }
}

.partner-wrapper .title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--secondary-white);
}

.partner-logo {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  flex-wrap: wrap;
  margin: 0 2rem;
}

.partner-wrapper img {
  width: 5rem;
  height: 3rem;
}

@media screen and (min-width: 768px) {
  .partner-wrapper img {
    width: 7rem;
  }

  .partner-logo {
    column-gap: 4rem;
  }

}

.footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .7rem;
  line-height: 1rem;
  gap: 2rem;
}

.footer img {
  width: 7rem;
  height: 6rem;
}

.footer .notice {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 2rem 0;
  }

  .footer .container {
    justify-content: left;
    gap: 2rem;
  }

  .footer img{
    width: 9rem;
    height: 7rem;
  }

  .footer p {
    font-size: .7rem;
  }

  .footer p br{
    display: none;
  }

  .footer .notice {
    display: inline;
    margin-top: 1rem;
    font-size: .7rem;
    font-family: monospace, sans-serif;
  }

  .footer a {
    text-decoration: none;
    color: var(--dark);
  }

  .footer a:hover {
    text-decoration: underline;
  }
}
